@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');
.App {
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.navbar-brand {
    font-family: 'Staatliches', cursive;
}

.my-font {
    font-family: 'Staatliches', cursive;
}

.grey-text {
    color: #8c8c8b;
    font-family: 'Staatliches', cursive;
}

.green-button {
    background: #37592b;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}